*{
    margin: 0;
    padding: 0;
   
}
header{
    width: 100%;
}
nav{
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}
nav ul{
    list-style: none;
}
nav  ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background-color: rgb(81, 81, 197);
    position: relative;
}
nav > ul li{
    display: table-cell;
}
nav > ul > li:hover > ul{
    display: block;
    height: 100%;
}
nav > ul > li > ul{
    display: block;
    position: absolute;
    background-color: rgb(81, 81, 197);
    left: 0px;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}
nav > ul > li > ul{
    display: none;
}
nav > ul li a{
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration-line: none;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}
nav > ul > li >  a:hover{
    background-color: black;
} 
nav > ul > li > a span{
    background-color: rgb(35, 211, 182);
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav > ul > li > a span{
    display: block;
    line-height: 60px;
}
nav > ul > li > a:hover > span{
    top: 0;
}
.primero{
    background-color: darkmagenta;
}
.segundo{
    background-color: blueviolet
}
.tersero{
    background-color: rgb(38, 85, 85);
}
.cuarto{
    background-color: darkgoldenrod;
}
.color{
    background-color: darkgreen;
}
.facebook-alt{
    margin: 0;
}